<!doctype html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="<?= base_url() ?>/css/foundation.css" />
    <link rel="stylesheet" href="<?= base_url() ?>/css/candyshop.css" />
    <script src="<?= base_url() ?>/js/vendor/modernizr.js"></script>
  </head>
  <body>


  <nav class="top-bar" data-topbar>
    <ul class="title-area">
      <li class="name">
        <h1><a href="<?php echo site_url(); ?>">CandyShop</a></h1>
      </li>
      <li class="toggle-topbar menu-icon"><a href="#">Menu</a></li>
    </ul>

    <section class="top-bar-section">
      <!-- Right Nav Section -->
      <ul class="right">
  <!--       if the user is logged in display "logout" otherwise "login" -->      
            <?php
                if($this->session->userdata('logged_in')) {
                  echo "<li class='active'>" . anchor('candystore/logout', 'Logout') . " </li>";
                } else {
                  echo "<li class='active'>" . anchor('candystore/login', 'Login') . " </li>";
                }
            ?>
  <!--       show drop down menu for reciepts, prev orders if logged in -->   
            <?php
              if($this->session->userdata('logged_in')) {
                // $session_data = $this->session->userdata('logged_in');
                // echo "<h1>Hi " . $session_data['username'] . "</h1>";
                // echo "<li class='has-dropdown'>";
                // echo "<a href='#''>My Account</a>";
                // echo "<ul class='dropdown'>";
                // echo "<li><a href='#''>Reciepts</a></li>";
                // echo "</ul>";
                // echo "</li>";
                echo "<li class='active' id='view-cart'>" . anchor('candystore/cart', 'View Cart') . " </li>";
              } else {
                echo "<li class='active'>" . anchor('candystore/register', 'Register') . " </li>";
              }
            ?>
      </ul>
    </section>
  </nav>
  
